body, html {
    font-family: Calibri;
    margin:0;
    padding:0;
    color:#000;
}

img {
    border:none;
}

h1 {
    margin:0;
}

h2 {
    margin:0 0 1em;
}

.header {
    width: 100%;
    padding:5px 5px;
    }

.header img {
    vertical-align:middle;
}

.onecolumn img {
    vertical-align: middle;
}

.main {
    float:left;
    text-align: center;
    width:640px;
    }
.sidebar {
    float:right;
    width:258px;
    padding-left: 5px;
    }

.wrap {
    width:903px;
    margin:0 auto;
    }

.wide {
    width: 100%;
    text-align:left;
    padding-left: 5em;
    }

.tight {
    margin: 0}
}

.name {
    float: left;
    }

.candybox {
    margin-bottom: 0.5ex;
}

.titlebar {
    border: 1px solid #aaaaaa;
    font-size: 1em;
    font-weight: normal;
    background-color: #dddddd;
    text-align:center;
    vertical-align: middle;
}

.buttonright {
    padding-left: 0.2em;
    padding-right: 0.2em;
    float: right;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    background-color: #999999;
    color: white;
    text-align:center;
    vertical-align: middle;
}

.graylink {
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    background-color: #999999;
    color: white;
    text-align:center;
    vertical-align: middle;
}

.graylink:hover {
    text-decoration: underline;
    color: yellow;
}

.buttonleft {
    padding-left: 0.2em;
    padding-right: 0.2em;
    float:left;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    background-color: #999999;
    color: white;
    text-align:center;
    vertical-align: middle;
}

.buttonleft:hover {
    text-decoration: underline;
    color: yellow;
}

.preload {
display:none;
}

p.