<p class="tight">
  <a href="${rel_day_url}">
    <img src="${rel_day_thumb_url}"
	 onmouseover="this.src='${rel_day_thumb_d_url}';this.alt='montage for ${date_pretty}';"
	 onmouseout="this.src='${rel_day_thumb_url}';this.alt='montage for ${date_pretty}';"/>
    <img class="preload" src="${rel_day_thumb_d_url}"/>
  </a>
</p>
