<p class="tight">
  <img src="${rel_homepage_thumb_url}"
       onmouseover="this.src='${rel_homepage_thumb_d_url}';this.alt='montage for ${date_pretty}';"
       onmouseout="this.src='${rel_homepage_thumb_url}';this.alt='montage for ${date_pretty}';"/>
  <img class="preload" src="${rel_homepage_thumb_d_url}"/>
</p>
