<p class="tight">
  <a href="${rel_month_url}">
    <img src="${rel_month_thumb_url}"
         alt="montage for ${month_pretty}"
         title="Click to see ${month_pretty}"
         onmouseover="this.src='${rel_month_thumb_d_url}';this.alt='montage for ${month_pretty}';this.title='click to see ${month_pretty}'"
         onmouseout="this.src='${rel_month_thumb_url}';this.alt='montage for ${month_pretty}';this.title='click to see ${month_pretty}';"/>
  </a>
  <img class="preload" src="${rel_month_thumb_d_url}"/>
</p>
